uploads/*
!uploads/.gitkeep
node_modules/
.env
.env.test
.env.development
.env.production
.env.staging
.env.local
.env.example
.env.local.example
.env.development.local
.env.test.local
.env.production.local
.env.staging.local
.env.*.local